@font-face {
    font-family: 'Pokemon Solid';
    src: url('./Pokemon\ Solid.ttf') format('truetype');

}

body {
    font-family: Arial, sans-serif;
    margin: 2rem;
}

h1, h2 {
    margin-bottom: 0.5rem;
    font-family: 'Pokemon Solid';
    color: gold; /* inner color of the text */
    -webkit-text-stroke: 2px black; /* width and color */
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.fill-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

ul {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 0.25rem;
}

.pokemon {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
